ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

mat-expansion-panel {
    background: none;
    box-shadow: none !important;
    background: #FFFFFF;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.filter-title {
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.status-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}