<div class="card">
  <div class="top-row">
    <div class="user-info">
      <div class="avatar">{{ answer()?.user?.initials }}</div>

      <div class="meta">
        <span class="name">{{ answer()?.user?.name }}</span>
        <span class="time">{{ answer()?.timeAgo }}</span>
      </div>
    </div>

    @if (showButtons()) {
      <div class="buttons">
        <button matIconButton aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          class="delete-btn"
          matIconButton
          aria-label="Example icon button with a vertical three dot icon"
          (click)="delete()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>
  <p class="text">{{ answer()?.text }}</p>
</div>
