.container {
    display: flex;
    gap: 1rem;
}

.filters-container {
    max-width: 20rem;
}

.main-content-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-actions {
    display: flex;
    justify-content: space-between;
}

.ownership-filter-toggle {
    width: fit-content;

    display: flex;
    background: #ECECF0;
    border-radius: 2rem;
}

.message-topic-list-container {
    width: 100%;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fail-icon {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}

.loading-spinner {
    size: 2rem;
}

.pages-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 560px) {
    .top-actions {
        flex-direction: column;
        gap: 1rem;
    }

}

@media (max-width: 959px) {
    .container {
        flex-direction: column;
    }

    .filters-container {
        max-width: 100%;
    }
}