html{
    background-color: #F9FAFB;
    margin: 0;
    height: 100%;
    padding: 20px;
}

.title{
    font-size: 24px;
    font-weight: normal;
}

.subtitle{
    font-size: 16px;
    font-weight: normal;
    color: #4A5565;
}

.container{
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: center;
}

mat-card{
    margin: 20px 30px;
    background-color: #ffffff;
    padding: 24px;
}

mat-card-header{
    font-size: 18px;
    color: #0a0a0a;
}

/*Perfil do usuário*/
.user_profile{
    align-items: center;
}

.avatar{
    width: 100px;
    border-radius: 100%;
}

/*Atividades*/
.activity{
    display: flex;
    align-items: center;
    height: 72px;
    margin: 16px 0;
}

.activity_icon{
    size: 20px;
    padding: 10px;
    border-radius: 100%;
    margin-right: 12px;
}

.topics{
    background-color: #DBEAFE;
    color: #155DFC;
}

.comment{
    background-color: #DCFCE7;
    color: #00A63E;
}

.likes{
    background-color: #F3E8FF;
    color: #9810FA;
}

.activity_title{
    font-size: 14px;
    color: #4A5565;
}

.activity_data{
    font-size: 18px;
    margin: 5px;
}

/*Configurações*/
.information_header{
    display: flex;
    justify-content: space-between;
}

.information_body {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 16px;
grid-row-gap: 24px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 3; }

.information_data{
    padding: 12px;
    background-color: #f3f3f5;
    color: #575656;
    border-radius: 8px;
}